/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  text-decoration: none;
}
/* Create Variables */
:root {
  --primary-color: #0f0;
  --secondary-color: #00f;
}
/* use Variables */
h1 {
  text-align: center;
  padding: 10px;
}
h6 {
  text-align: center;
  padding: 3px;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#keyDiv {
  height: 600px;
  width: 600px;
  background-color: #0f0;
}
