/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  text-decoration: none;
}
/* Create Variables */
:root {
  --primary-color: #0f0;
  --secondary-color: #00f;
}
/* use Variables */
h1 {
  text-align: center;
  padding: 10px;
}
h6 {
  text-align: center;
  color: white;
  padding: 3px;
  margin: 0px;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#prevKeyBtn,
#nextKeyBtn {
  margin: 50px;
}
#keyDiv {
  /* background-color: #0f0; */
  padding: 10px;
  border-radius: 10px;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keySection {
  background-color: #d410ec;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
}
.noteDiv {
  width: 100px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
}
.note {
  color: white;
  padding: 10px;
  text-align: center;
  margin: 25px;
}
.scale {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chordFlexWrapper {
  display: flex;
  justify-content: space-around;
}
.chordSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1e34ce;
  border-radius: 25px;
  margin: 1px;
  padding: 2px;
}
.chordSection h5 {
  text-align: center;
  color: white;
}
.chordSection h6 {
  text-align: center;
  color: white;
}
.chordNoteDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
}
.chordNoteDiv h6 {
  text-align: center;
}

.noteChordInnerDiv {
  width: 35px;
  border-radius: 50%;
  background-color: black;
}
